* {
    box-sizing: border-box;
  }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

@media only screen and (min-width: 768px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"] {
        float: left;
        padding: 15px;
        border: 1px solid white;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
}

body{
    color: #ffffff;
    background-color: #1a1a1d;
    z-index: -1;
    text-align: center;
    font-size: 20px;
    border-style: solid;
    border-width: 0.1px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 1.30px;
}

a {
    color: #ffffff;
}


.btn {
    color: #ffffff;
    justify-content: center;
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 40px;
    background: #6f2232;
}

img {

    border-style: solid;
    border-color: white;

}

.btn:nth-child(2) {
    background: #1a1a1d;
}


header{
    background: #1a1a1d;
}
nav{
    width:  25%;
    float: left;
    background: #1a1a1d;
}
main{
    background: #1a1a1d;
    width: 75%;
    float: left;
}
aside{
    background: #1a1a1d;
}
footer{
    background: #1a1a1d;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #1a1a1d;
        margin: 0;
        padding: 0;
    }
}



