body {

  background: #1a1a1d;
  text-align: center;
  margin: 0px;
  border-style: solid;
  border-color: white;
  padding-top: 3%;
  
}



a:link {
color: white;
background-color: transparent;
text-decoration: none;
}

a:visited {
color: white;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: white;
background-color: transparent;
text-decoration: none;
}

a:active {
color: white;
background-color: transparent;
text-decoration: none;
}


section {

color: white;
text-align: center;
border-top: solid;
border-bottom: solid;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 32%;
padding-right: 32%;

}

nav {

border-bottom: solid;
text-align: center;
color: white;
padding-top: 5%;
padding-bottom: 5%;

}

article {

color: white;
text-align: center;
border-top: solid;
border-bottom: solid;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 32%;
padding-right: 32%;

}

img {

border-style: solid;
border-color: white;

}

p {

text-shadow: 0px 4px 8px black;
max-width: 18cm;

}

h2 {

color: white;
text-shadow: 0px 4px 8px black;
max-width: 18cm;

}

h1 {

  color: white;
  text-shadow: 0px 4px 8px black;
}

footer {
  
  border-top: solid;
  width: auto;
  text-align: center;
  color: white;
  text-shadow: 0px 4px 8px black;
  max-width: 100%;
  padding-top: 2%;

}

.scrolltopbtn {

  position: fixed;
  width: 50px;
  height: 100px;
  background: white;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;

}

.scrolldownbtn {

  position: fixed;
  width: 50px;
  height: 100px;
  background: white;
  bottom: 40px;
  left: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;

  }

.button {

  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: none;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  text-shadow: 0px 4px 8px black;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {

  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;

}

.button:hover span {

  padding-right: 25px;

}

.button:hover span:after {

  opacity: 1;
  right: 0;

}

html {

  scroll-behavior: smooth;

}
