body {

    background-image: url('https://lh3.googleusercontent.com/-rinlxP9NZiG8sGNHTOXD_jUQVvH-zpdxN7b6POreIwl-Qcmry24aOyFoE3v2ynt1ECpuA=s151') ;
    color: white;

}
footer {
    
    padding: 10px;
    width: auto;
    text-align: right;
    background-color: white;
    color: black;

}

